:root {
  --color-primary-rgb: 255, 255, 255;
  --color-primary: #ffffff;
  --color-secondary: #059669;
  --color-secondary-rgb: 5, 150, 105;
  --color-secondary-light: #2dd4bf;
  --color-text: #374151;
  --color-text-rgb: 55, 65, 81;
  --color-grey-rgb: 229, 231, 235;
  --color-green-rgb: 80, 206, 140;
  --color-green: #50d18e;
  --color-grey: #F8FAFC
}
